<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>متجري | My Shop @ViewBag.Title</title>

    <link rel="icon" type="image/x-icon" href="~/Content/img/icon.ico">

    <link href="/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/jquery.simpleLens.css" rel="stylesheet" />
    <link href="/Content/css/slick.css" rel="stylesheet" />
    <link href="/Content/css/nouislider.css" rel="stylesheet" />
    <link href="/Content/css/theme-color/purple-theme.css" rel="stylesheet" />
    <link href="/Content/css/sequence-theme.modern-slide-in.css" rel="stylesheet" />
    <link href="/Content/css/style.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="~/Content/js/jquery.min.js"></script>

    <!-- Ad intellisence for searching products-->

    <link href="~/Content/Intellisence/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/Intellisence/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Intellisence/js/jquery-ui.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $("#searchTxtBox").autocomplete({
                source: '@Url.Action("GetProducts","Product")'
            });
        });
    </script>

</head>
<body>
    <!-- wpf loader Two -->
    <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
            <span>Loading</span>
        </div>
    </div>
    <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header id="aa-header">
        <!-- start header top  -->
        <div class="aa-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-top-area">
                            <!-- start header top left -->
                            <div class="aa-header-top-left">
                                <!-- start language -->
                                <div class="aa-language">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <img src="~/Content/img/flag/english.jpg" alt="english flag">ENGLISH
                                            @*<span class="caret"></span>*@
                                        </a>
                                        @*<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a href="#"><img src="~/Content/img/flag/french.jpg" alt="">FRENCH</a></li>
                                                <li><a href="#"><img src="~/Content/img/flag/english.jpg" alt="">ENGLISH</a></li>
                                            </ul>*@
                                    </div>
                                </div>
                                <!-- / language -->
                                <!-- start currency -->
                                <div class="aa-currency">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="fa fa-money"></i>‘USD
                                            @*<span class="caret"></span>*@
                                        </a>
                                        @*<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a href="#"><i class="fa fa-euro"></i>EURO</a></li>
                                                <li><a href="#"><i class="fa fa-usd"></i>USD</a></li>
                                            </ul>*@
                                    </div>
                                </div>
                            </div>
                            <!-- / header top left -->
                            <div class="aa-header-top-right">
                                <ul class="aa-head-top-nav-right">

                                    <li><a href="@(Session["username"] != null ? Url.Action("Index", "Account") : Url.Action("Login", "Account"))">My Account</a></li>
                                    <li class="hidden-xs">
                                        <a href="@(Session["username"] != null ? Url.Action("Index", "WishList") : Url.Action("Login", "Account"))">
                                            Wishlist @if (@ViewBag.WlItemsNo > 0)
                                            {<text>(@ViewBag.WlItemsNo)</text>}
                                        </a>
                                    </li>
                                    <li class="hidden-xs">
                                        <a href="@(Session["username"] != null ? Url.Action("Index", "MyCart") : Url.Action("Login", "Account"))">
                                            My Cart @if (@ViewBag.NoOfItem > 0)
                                            {<text>(@ViewBag.NoOfItem)</text>}
                                        </a>
                                    </li>
                                    <li class="hidden-xs"><a href="@(Session["username"] != null ? Url.Action("Index", "CheckOut") : Url.Action("Login", "Account"))">Checkout</a></li>
                                    @if (Session["username"] == null)
                                    {

                                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Logout","Account")">Logout</a></li>
                                        <li><a href="">@Session["username"]</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header top  -->
        <!-- start header bottom  -->
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <!-- logo  -->
                            <div class="aa-logo">
                                <!-- Text based logo -->
                                <a href="@Url.Action("Index","Home")">
                                    <span class="fa fa-shopping-cart"></span>
                                    <p>
                                        SVU STORE PROJECT <span>
                                            <b style="color: #3fc35f; padding: 10px; font-size: 15px; ">
                                                Ahmad_154538
                                            </b> <br><b style="color: #3fc35f; padding: 10px; font-size: 15px; ">
                                                mhd_jehad_190339
                                            </b><br><b style="color: #3fc35f; padding: 10px; font-size: 15px; ">
                                                George_231923
                                            </b>
                                        </span>
                                    </p>
                                </a>
                                <!-- img based logo -->
                                <!-- <a href="index.html"><img src="~/Content/img/logo.jpg" alt="logo img"></a> -->
                            </div>
                            <!-- / logo  -->
                            <!-- cart box -->
                            <div class="aa-cartbox">
                                <a class="aa-cart-link" href="#">
                                    <span class="fa fa-shopping-basket"></span>
                                    <span class="aa-cart-title">SHOPPING CART</span>
                                    <span class="aa-cart-notify">@(ViewBag.NoOfItem==null ? 0 :ViewBag.NoOfItem)</span>
                                </a>
                                <div class="aa-cartbox-summary">
                                    <ul>
                                        @if (Session["username"] != null)
                                        {
                                            Html.RenderPartial("_CartBox");

                                        }
                                    </ul>
                                    <a class="aa-cartbox-checkout aa-primary-btn" href="@Url.Action("Index","CheckOut")">Checkout</a>
                                </div>
                            </div>
                            <!-- / cart box -->
                            <!-- search box -->
                            <div class="aa-search-box">
                                <form action="@Url.Action("Search","Product")" method="get">
                                    <input type="text" name="product" id="searchTxtBox" placeholder="Search product here . . . ">
                                    <button type="submit"><span class="fa fa-search"></span></button>
                                </form>
                            </div>
                            <!-- / search box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header bottom  -->
    </header>
    <!-- / header section -->
    <!-- menu -->
    @*<section id="menu">
            <div class="container">
                <div class="menu-area">
                     Navbar
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                             Left nav
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                @{
                                    Khareedo.Models.KhareedoEntities db = new Khareedo.Models.KhareedoEntities();
                                    Dictionary<string, IEnumerable<string>> navbar = new Dictionary<string, IEnumerable<string>>();

                                    List<Khareedo.Models.Category> Categories = db.Categories.ToList();
                                    foreach (Khareedo.Models.Category cat in Categories)
                                    {
                                        IEnumerable<string> subCat = db.SubCategories.Where(x => x.CategoryID == cat.CategoryID).Select(x => x.Name).ToList();
                                        navbar.Add(cat.Name, subCat);
                                    }
                                    int count=0;
                                    foreach (KeyValuePair<string,IEnumerable<string>> nav in navbar)
                                    {
                                        if (count < 8)
                                        {
                                        <li>
                                            <a href="">@nav.Key<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @foreach (var subNav in nav.Value)
                                                {
                                                    <li><a href="@Url.Action("GetProductsByCategory","Product", new { categoryName = subNav.Trim() })">@subNav.Trim()</a></li>
                                                }
                                            </ul>
                                        </li>
                                            count++;
                                        }
                                    }
                                }

                            </ul>
                        </div>/.nav-collapse
                    </div>
                </div>
            </div>
        </section>*@
    <!-- / menu -->

    @RenderBody()

    <!-- Subscribe section -->
    @*<section id="aa-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-subscribe-area">
                        <h3>Subscribe our newsletter </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                        <form action="" class="aa-subscribe-form">
                            <input type="email" name="" id="" placeholder="Enter your Email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- / Subscribe section -->
    <!-- footer -->
    <footer id="aa-footer">
        <!-- footer bottom -->
        <div class="aa-footer-top">
            @*<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-top-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <h3>Studants</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">mohamad_187159</a></li>
                                            <li><a href="#">Ahmad_154538</a></li>
                                            <li><a href="#">Zakaria_191289</a></li>
                                            <li><a href="#">Feedaa_207661</a></li>
                                        </ul>
                                    </div>
                                </div>*@
                                @*<div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Knowledge Base</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Delivery</a></li>
                                                <li><a href="#">Returns</a></li>
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">Discount</a></li>
                                                <li><a href="#">Special Offer</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Useful Links</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Site Map</a></li>
                                                <li><a href="#">Search</a></li>
                                                <li><a href="#">Advanced Search</a></li>
                                                <li><a href="#">Suppliers</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Contact Us</h3>
                                            <address>
                                                <p></p>
                                                <p><span class="fa fa-phone"></span></p>
                                                <p><span class="fa fa-envelope"></span></p>
                                            </address>
                                            <div class="aa-footer-social">
                                                <a href="#"><span class="fa fa-facebook"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-youtube"></span></a>
                                            </div>
                                        </div>
                                    </div>*@
                                <!--</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- footer-bottom -->
        <div class="aa-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-bottom-area">
                            <p>Designed by <a href=""> Ahmad_154538 | mhd_jehad_190339 | george_231923</a></p>
                            <div class="aa-footer-payment">
                                <span class="fa fa-cc-mastercard"></span>
                                <span class="fa fa-cc-visa"></span>
                                <span class="fa fa-paypal"></span>
                                <span class="fa fa-cc-discover"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->

    <script src="/Content/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Content/js/bootstrap.js"></script>
    <script src="/Content/js/jquery.smartmenus.js"></script>
    <script src="/Content/js/jquery.smartmenus.bootstrap.js"></script>
    <script src="/Content/js/sequence.js"></script>
    <script src="/Content/js/sequence-theme.modern-slide-in.js"></script>
    <script src="/Content/js/jquery.simpleGallery.js"></script>
    <script src="/Content/js/jquery.simpleLens.js"></script>
    <script src="/Content/js/slick.js"></script>
    <script src="/Content/js/nouislider.js"></script>
    <script src="/Content/js/custom.js"></script>

    <script type="text/javascript">
        $(function () {

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#login-modal');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#login-modal').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#login-modal').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>



</body>
</html>
